.projects {

    &-item {
        max-width: 100%;
        height: auto;
        border: 1px solid #ddd;
        position: relative;
        overflow: hidden;

        & img {
            height: auto;
            width: 100%;
            transition: all .3s ease-out;
        }

        &:hover img {
            transform: scale(1.2, 1.2) rotate(10deg);
        }

        &:hover .projects-inner {
            transform: scale(1);
        }

        &:before {
            position: absolute;
            content: '';
            background-color: rgba($mainBlack, .85);
            transition: all .5s ease-in;
            top: -60%;
            right: -210%;
            width: 450%;
            height: 50%;
            z-index: 3;
            transform: rotate(50deg);
        }

        &:hover:before {
            top: 120%;
            right: 120%
        }
    }

    &-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($mainBlack, .85);
        color: #fff;
        text-align: center;
        transform: scale(0);
        transition: all .5s ease;
    }

    &-title {
        margin-top: 20%;
        margin-bottom: 20px;
        color: $mainOrange;
    }

    &-description {
        padding: 0 20px;
    }

}